*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
section{
    height: 100%;
    padding: 10px;
}
section:before{
    content:"";
    display:block;
}
section:after{
    content:"";
    display:block;
    clear:both;
}
.leftBtns{
    float: left;
    width: 40%;
    border-right: 1px solid #505F91;
    height: 100%;
    position: relative;
}
.stuList{
    float: right;
    width: 59.5%;
    height: 100%;
}
.leftBtns>div{
    font-size: 35px;
    color: #505F91;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
}
.leftBtns>div p{
    text-align: center;
}
.attenBtn{
    background: #f1f2f6 !important;
    border: 1px solid #505f91 !important;
    color: #505f91 !important;
    border-radius: 4px;
    display: inline-block;
    font-size: 35px;
    text-align: center;
    width: 280px;
    padding: 8px 0;
    margin-bottom: 40px;
}
.attenBtn:hover{
    background: #505F91 !important;
    color: #fff !important;
}
.attenBtn span{
    font-size: 28px;
    display: inline-block;
    margin-right: 10px;
}
.timeAtten{
    margin-bottom: 15px;
}
.stateList{
    display: inline-block;
    margin-left: 50px;
}
.stateList a{
    display: inline-block;
    padding: 5px 30px;
    color:#505F91;
    border-radius: 5px;
    border: 1px solid #505f91;
}
.stateList a.clicked{
    color: #fff;
    background: #505F91 url("../img/clicked.png") no-repeat 0;
}
/*111111111111111111111111111111*/
.stateList span{
    display: inline-block;
    background: #505f91;
    color: #fff;
    border-radius: 50%;
    padding: 0 5px;
}
.stateList .clicked span{
    display: inline-block;
    background: #fff;
    color: #505f91;
    border-radius: 50%;
    padding: 0 5px;
}
.timeAtten>p{
    display: inline-block;
    background: #505F91;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
}
.disabled{
    background: #50585A !important;
    color: #fff !important;
}
.disabled:hover{
    background: #50585A !important;
    color: #fff !important;
}


















