* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    height: 100%;
    width: 100%;
}
a{
    cursor: pointer;
}
section{
    height: 100%;
    width: 100%;
}
#wrap {
    width: 100%;
    overflow: auto;
    float: right;
    height: 100%;
    padding-left:170px;
}
#tit {
    height: 35px;
    margin: 10px 0;
    font-size: 25px;
    /*text-align: center;*/
}
#tit p, #tit i{
    display: inline-block;
    height: 32px;
    line-height: 30px;
    width: 150px;
    font-size: 16px;
    text-align: center;
    color: #727374;
    background: #D9DEE4;
    border-radius: 3px;
    border: 1px solid #d9dee4;
    font-style: normal;
    cursor: pointer;
}
#tit i{
    color: #fff;
}
.send_news{
    float: right;
    background: #505F91 !important;
    margin-right: 15px;
}
#con>li {
    display: none;
    width: 100%;
}
#tit p.select {
    background: #505F91;
    color: #fff;
    border: 1px solid #505f91;
}
#tit p span{
    color: #fff;
    background: #EB6100;
}
#con li.show_block {
    display: block;
}
.left_btns{
    float:left;
    width: 160px;
    height: 100%;
    background: #D9DEE4;
    position:fixed;
    z-index:999;
    overflow: auto;
}
.left_btns h3{
    text-align: center;
    padding: 35px 0;
    border-bottom: 1px solid #505F91;
    margin-bottom: 0;
    margin-top: 0;
}
.left_btns ul li{
    line-height: 45px;
    border-bottom: 1px solid #505F91;
}
.left_btns ul li a{
    margin-left: 15px;
    text-decoration: none;
}
.left_btns ul li a:hover{
    color: #4C6293;
}
.left_btns ul li a span.badge{
    margin-left: 25px;
    color: #fff;
    background: #505F91;
}
.hide_btn{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.hide_btn i{
    font-size: 20px;
}
.newsCont{
    width:1000px;
    height:465px;
    padding: 15px;
}
.zTreeBackground{
    width: 600px;
    height: 200px;
    overflow: auto;
}
.input{
    height:30px;
    width:567px;
    line-height: 30px;
    padding-left: 5px;
    border: 1px solid #505F91;
    border-radius: 3px;
}
.btns{
    padding:15px 0;
}
#form_content{
    height: 110px;
    border: 1px solid #ddd;
    width: 80%;
    margin: 15px auto;
    overflow: auto;
    padding: 5px;
}
.form_cont{
    width: 560px;
    height:240px;
    padding: 10px;
    position: relative;
}
.form_cont table{
    margin-bottom: 10px;
    width: 100%;
}
.form_cont tr td:first-child{
    width:120px;
    text-align: right;
    line-height:30px;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    word-break:normal;
}
.form_cont tr td:first-child i{
    font-style: normal;
    color: red;
}
.form_cont tr td:last-child{
    width:350px;
    height:45px;
}
.form_cont tr td input[type=text]{
    border: 1px solid #505F91;
    width: 300px;
    height:30px;
    border-radius: 3px;
    color: #333;
    padding-left: 10px;
    margin-right:10px;
    outline: none;
    margin-bottom:15px;
}
#form_content span{
    border: 1px solid #505F91;
    padding: 3px;
    border-radius: 3px;
    margin-right: 3px;
}
#form_content span a{
    font-size: 16px;
}
div#form_content span a{
    cursor: pointer;
}
.deinput{
    border:none;
    outline: none;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    width: 450px;
}
.zTreebg2{
    height:140px;
    overflow: auto;
}
.left_btns ul li.checked{
    background:#505f91;
}
.left_btns ul li a{
    display:block;
}
.left_btns ul li.checked a{
    color:#fff !important;
}
.left_btns ul li.checked a:hover{
    color:#fff;
}
.left_btns ul li.checked a span.badge{
    color: #505f91;
    background: #D9DEE4;
}

.checkNews{
    width:100%;
}
.checkNews tr td:first-child{
    width: 100px;
    background: #F9F9F9;
    text-align: right;
    line-height: 40px;

}
.checkNews{
    border: 1px solid #F6F6F6;
    margin-bottom: 5px;
}
.checkNews tr td{
    border: 1px solid #F6F6F6;
    padding-left: 15px;
}
.newsContent{
    overflow: auto;
    height: 450px;
    width: 99%;
    margin: 0 auto;
    position:relative;
}
.peopleChoose{
    position:absolute;
    bottom:10px;
    width:100%;
    padding:5px 0;
    background:#Fff;
}
.timeTd{
    width: 100px;
    background: #f9f9f9;
}
.contTitleTd{
    text-align: left !important;
    padding-left: 58px !important;
}
.contTd{
    text-align: left !important;
    background: #fff !important;
}
#contentHtml table tr td:first-child{
	text-align:left !important;
}
#contentHtml table tr td{
	border:1px solid !important;
}
#contentHtml table{
	width:947px !important;
}












