<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="configuration.mapper.MarksheetSubMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.rensu.education.hctms.basicdata.bean.MarksheetSub" >
	<result column="id" property="id"/>
	<result column="mm_id" property="mm_id"/>
	<result column="type_code" property="type_code"/>
	<result column="sort_num" property="sort_num"/>
	<result column="item_type_code" property="item_type_code"/>
	<result column="state" property="state"/>
	<result column="text" property="text"/>
	<result column="title" property="title"/>
	<result column="ms_id" property="ms_id"/>
</resultMap>
       
<!-- MARKSHEET_SUB table all fields -->
<sql id="Base_Column_List" >
	 id,mm_id,type_code,sort_num,item_type_code,state,text,title,ms_id
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	<if test="mm_id != null" >
	    and mm_id =  #{mm_id}
	</if>
	<if test="type_code != null" >
	    and type_code =  #{type_code}
	</if>
	<if test="sort_num != null" >
	    and sort_num =  #{sort_num}
	</if>
 	<if test="item_type_code != null and item_type_code != ''" >
	    and item_type_code =  #{item_type_code}
	</if>
 	<if test="state != null and state != ''" >
	    and state =  #{state}
	</if>
	<if test="ms_id != null" >
	    and ms_id =  #{ms_id}
	</if>
 	<if test="text != null and text != ''" >
	    and text =  #{text}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.rensu.education.hctms.basicdata.bean.MarksheetSub" >
  insert into MARKSHEET_SUB(id,mm_id,type_code,sort_num,item_type_code,state,text)
 values(#{id,jdbcType=INTEGER},#{mm_id,jdbcType=INTEGER},#{type_code,jdbcType=INTEGER},#{sort_num,jdbcType=INTEGER},#{item_type_code,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR},#{text,jdbcType=VARCHAR})
</insert>
 
 <!--  -->
<update id="update" parameterType="com.rensu.education.hctms.basicdata.bean.MarksheetSub" >
	update MARKSHEET_SUB set 
	<trim  suffixOverrides="," >
	<if test="mm_id != null  ">
		mm_id=#{mm_id,jdbcType=INTEGER},
	</if>
	<if test="type_code != null  ">
		type_code=#{type_code,jdbcType=INTEGER},
	</if>
	<if test="sort_num != null  ">
		sort_num=#{sort_num,jdbcType=INTEGER},
	</if>
	<if test="item_type_code != null  and item_type_code != '' ">
		item_type_code=#{item_type_code,jdbcType=VARCHAR},
	</if>
	<if test="state != null  and state != '' ">
		state=#{state,jdbcType=VARCHAR},
	</if>
	<if test="text != null  and text != '' ">
		text=#{text,jdbcType=VARCHAR},
	</if>
	</trim> where id=#{id,jdbcType=INTEGER}
</update>

<!-- 逻辑删除，将deleted 改成 1 -->
<update id="delete" parameterType="com.rensu.education.hctms.basicdata.bean.MarksheetSub">
	delete 	 from MARKSHEET_SUB where id = #{id,jdbcType=INTEGER}
</update>
 
<!-- 评分表单子表列表 -->
<select id="selectOne"  resultMap="BaseResultMap" parameterType="int">
	select <include refid="Base_Column_List" /> 
	 from MARKSHEET_SUB where id = #{id,jdbcType=INTEGER}
</select>

<!-- 评分表单子表序列号 -->
<select id="getSequence"  resultType="int" flushCache="true" useCache="false">
	select seq_marksheet_sub_id.nextval from dual
</select>

<!-- 评分表单子表 列表总数-根据类型bean查询 -->
<select id="selectCount" resultType="java.lang.Integer"  parameterType="com.rensu.education.hctms.basicdata.bean.MarksheetSub">
	select count(1) from MARKSHEET_SUB 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean查询评分表单子表 -->
<select id="selectList" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.basicdata.bean.MarksheetSub">
	select 
	<include refid="Base_Column_List"/>
	from MARKSHEET_SUB 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean进行分页查询评分表单子表 -->
<select id="selectPage" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.basicdata.bean.MarksheetSub">
	select 
	<include refid="Base_Column_List"/>
	from MARKSHEET_SUB 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<insert id="insertWithList" parameterType="java.util.List">
	insert into MARKSHEET_SUB(id,mm_id,type_code,sort_num,item_type_code,state,text,title,ms_id)
	select A.* FROM (
 	<foreach collection="list" item="item" index="index" separator="union all">
 	select #{item.id,jdbcType=INTEGER} as id,
 			#{item.mm_id,jdbcType=INTEGER} as mm_id,
 			#{item.type_code,jdbcType=INTEGER} as type_code,
 			#{item.sort_num,jdbcType=INTEGER} as sort_num,
 			#{item.item_type_code,jdbcType=VARCHAR} as item_type_code,
 			#{item.state,jdbcType=VARCHAR} as state,
 			#{item.text,jdbcType=VARCHAR} as text,
 			#{item.title,jdbcType=VARCHAR} as title,
 			#{item.ms_id,jdbcType=INTEGER} as ms_id
 	from dual 
 	</foreach>) A
</insert>

<update id="updateList" parameterType="com.rensu.education.hctms.basicdata.bean.MarksheetSub" >
	update MARKSHEET_SUB set 
	<trim  suffixOverrides="," >
	<if test="type_code != null  ">
		type_code=#{type_code,jdbcType=INTEGER},
	</if>
	<if test="sort_num != null  ">
		sort_num=#{sort_num,jdbcType=INTEGER},
	</if>
	<if test="item_type_code != null  and item_type_code != '' ">
		item_type_code=#{item_type_code,jdbcType=VARCHAR},
	</if>
	<if test="state != null  and state != '' ">
		state=#{state,jdbcType=VARCHAR},
	</if>
	<if test="text != null  and text != '' ">
		text=#{text,jdbcType=VARCHAR},
	</if>
	</trim> where mm_id=#{mm_id,jdbcType=INTEGER}
</update>

</mapper>   
