<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="configuration.mapper.MedicalCaseMemberMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.rensu.education.hctms.teach.bean.MedicalCaseMember" >
	<result column="id" property="id"/>
	<result column="mcm_id" property="mcm_id"/>
	<result column="stu_auth_id" property="stu_auth_id"/>
	<result column="state" property="state"/>
</resultMap>
       
<!-- MEDICAL_CASE_MEMBER table all fields -->
<sql id="Base_Column_List" >
	 id,mcm_id,stu_auth_id,state
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	<if test="mcm_id != null" >
	    and mcm_id =  #{mcm_id}
	</if>
	<if test="stu_auth_id != null" >
	    and stu_auth_id =  #{stu_auth_id}
	</if>
	 	<if test="state != null and state != ''" >
	    and state =  #{state}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.rensu.education.hctms.teach.bean.MedicalCaseMember" >
  insert into MEDICAL_CASE_MEMBER(id,mcm_id,stu_auth_id,state)
 values(#{id,jdbcType=INTEGER},#{mcm_id,jdbcType=INTEGER},#{stu_auth_id,jdbcType=INTEGER},#{state,jdbcType=VARCHAR})
</insert>
 
 <!--  -->
<update id="update" parameterType="com.rensu.education.hctms.teach.bean.MedicalCaseMember" >
	update MEDICAL_CASE_MEMBER set 
	<trim  suffixOverrides="," >
	<if test="mcm_id != null  ">
		mcm_id=#{mcm_id,jdbcType=INTEGER},
	</if>
	<if test="stu_auth_id != null  ">
		stu_auth_id=#{stu_auth_id,jdbcType=INTEGER},
	</if>
	<if test="state != null  and state != '' ">
		state=#{state,jdbcType=VARCHAR},
	</if>
	</trim> where id=#{id,jdbcType=INTEGER}
</update>

<!-- 逻辑删除，将deleted 改成 1 -->
<update id="delete" parameterType="com.rensu.education.hctms.teach.bean.MedicalCaseMember">
	delete 	 from MEDICAL_CASE_MEMBER where id = #{id,jdbcType=INTEGER}
</update>
 
<!-- 病例讨论成员表列表 -->
<select id="selectOne"  resultMap="BaseResultMap" parameterType="int">
	select <include refid="Base_Column_List" /> 
	 from MEDICAL_CASE_MEMBER where id = #{id,jdbcType=INTEGER}
</select>

<!-- 病例讨论成员表序列号 -->
<select id="getSequence"  resultType="int">
	select seq_medical_case_member_id.nextval from dual
</select>

<!-- 病例讨论成员表 列表总数-根据类型bean查询 -->
<select id="selectCount" resultType="java.lang.Integer"  parameterType="com.rensu.education.hctms.teach.bean.MedicalCaseMember">
	select count(1) from MEDICAL_CASE_MEMBER 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean查询病例讨论成员表 -->
<select id="selectList" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.teach.bean.MedicalCaseMember">
	select 
	<include refid="Base_Column_List"/>
	from MEDICAL_CASE_MEMBER 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean进行分页查询病例讨论成员表 -->
<select id="selectPage" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.teach.bean.MedicalCaseMember">
	select 
	<include refid="Base_Column_List"/>
	from MEDICAL_CASE_MEMBER 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>

<select id="selectNum" resultType="com.rensu.education.hctms.teach.bean.MedicalCaseMember"  parameterType="com.rensu.education.hctms.teach.bean.MedicalCaseMember">
	select ui.user_name,t.stu_auth_id from MEDICAL_CASE_MEMBER t 
	inner join USER_AUTHORITY ua on ua.auth_id=t.stu_auth_id
	inner join USER_INFO ui on ui.user_id=ua.user_id
	where 
	t.mcm_id=#{mcm_id}
</select>

  	
</mapper>   
