<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="configuration.mapper.ScoFormDetailMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.rensu.education.hctms.score.bean.ScoFormDetail" >
	<result column="id" property="id"/>
	<result column="sfs_id" property="sfs_id"/>
	<result column="text" property="text"/>
	<result column="sco_num" property="sco_num"/>
	<result column="result_val" property="result_val"/>
	<result column="state" property="state"/>
</resultMap>
       
<!-- SCO_FORM_DETAIL table all fields -->
<sql id="Base_Column_List" >
	 id,sfs_id,text,sco_num,result_val,state
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	<if test="sfs_id != null" >
	    and sfs_id =  #{sfs_id}
	</if>
	 	<if test="text != null and text != ''" >
	    and text =  #{text}
	</if>
	<if test="sco_num != null" >
	    and sco_num =  #{sco_num}
	</if>
	<if test="result_val != null" >
	    and result_val =  #{result_val}
	</if>
	 	<if test="state != null and state != ''" >
	    and state =  #{state}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.rensu.education.hctms.score.bean.ScoFormDetail" >
  insert into SCO_FORM_DETAIL(id,sfs_id,text,sco_num,result_val,state)
 values(#{id,jdbcType=INTEGER},#{sfs_id,jdbcType=INTEGER},#{text,jdbcType=VARCHAR},#{sco_num,jdbcType=INTEGER},#{result_val,jdbcType=INTEGER},#{state,jdbcType=VARCHAR})
</insert>
 
 <!--  -->
<update id="update" parameterType="com.rensu.education.hctms.score.bean.ScoFormDetail" >
	update SCO_FORM_DETAIL set 
	<trim  suffixOverrides="," >
	<if test="sfs_id != null  ">
		sfs_id=#{sfs_id,jdbcType=INTEGER},
	</if>
	<if test="text != null  and text != '' ">
		text=#{text,jdbcType=VARCHAR},
	</if>
	<if test="sco_num != null  ">
		sco_num=#{sco_num,jdbcType=INTEGER},
	</if>
	<if test="result_val != null  ">
		result_val=#{result_val,jdbcType=INTEGER},
	</if>
	<if test="state != null  and state != '' ">
		state=#{state,jdbcType=VARCHAR},
	</if>
	</trim> where id=#{id,jdbcType=INTEGER}
</update>

<!-- 逻辑删除，将deleted 改成 1 -->
<update id="delete" parameterType="com.rensu.education.hctms.score.bean.ScoFormDetail">
	delete 	 from SCO_FORM_DETAIL where id = #{id,jdbcType=INTEGER}
</update>
 
<!-- 表单评分项目明细表列表 -->
<select id="selectOne"  resultMap="BaseResultMap" parameterType="int">
	select <include refid="Base_Column_List" /> 
	 from SCO_FORM_DETAIL where id = #{id,jdbcType=INTEGER}
</select>

<!-- 表单评分项目明细表序列号 -->
<select id="getSequence"  resultType="int">
	select seq_sco_form_detail_id.nextval from dual
</select>

<!-- 表单评分项目明细表 列表总数-根据类型bean查询 -->
<select id="selectCount" resultType="java.lang.Integer"  parameterType="com.rensu.education.hctms.score.bean.ScoFormDetail">
	select count(1) from SCO_FORM_DETAIL 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean查询表单评分项目明细表 -->
<select id="selectList" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.score.bean.ScoFormDetail">
	select 
	<include refid="Base_Column_List"/>
	from SCO_FORM_DETAIL 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean进行分页查询表单评分项目明细表 -->
<select id="selectPage" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.score.bean.ScoFormDetail">
	select 
	<include refid="Base_Column_List"/>
	from SCO_FORM_DETAIL 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
</mapper>   
