<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="configuration.mapper.StuDailyRecordMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.rensu.education.hctms.teach.bean.StuDailyRecord" >
	<result column="id" property="id"/>
	<result column="type_id" property="type_id"/>
	<result column="duration" property="duration"/>
	<result column="content" property="content"/>
	<result column="create_time" property="create_time"/>
	<result column="create_auth_id" property="create_auth_id"/>
	<result column="state" property="state"/>
</resultMap>
       
<!-- STU_DAILY_RECORD table all fields -->
<sql id="Base_Column_List" >
	 id,type_id,duration,content,create_time,create_auth_id,state
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	<if test="type_id != null" >
	    and type_id =  #{type_id}
	</if>
	 	<if test="duration != null and duration != ''" >
	    and duration =  #{duration}
	</if>
	<if test="content != null" >
	    and content =  #{content}
	</if>
	<if test="create_time != null" >
	    and create_time =  #{create_time}
	</if>
	<if test="create_auth_id != null" >
	    and create_auth_id =  #{create_auth_id}
	</if>
	 	<if test="state != null and state != ''" >
	    and state =  #{state}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.rensu.education.hctms.teach.bean.StuDailyRecord" >
  insert into STU_DAILY_RECORD(id,type_id,duration,content,create_time,create_auth_id,state)
 values(#{id,jdbcType=INTEGER},#{type_id,jdbcType=INTEGER},#{duration,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{create_time,jdbcType=TIMESTAMP},#{create_auth_id,jdbcType=INTEGER},#{state,jdbcType=VARCHAR})
</insert>
 
 <!--  -->
<update id="update" parameterType="com.rensu.education.hctms.teach.bean.StuDailyRecord" >
	update STU_DAILY_RECORD set 
	<trim  suffixOverrides="," >
	<if test="type_id != null  ">
		type_id=#{type_id,jdbcType=INTEGER},
	</if>
	<if test="duration != null  and duration != '' ">
		duration=#{duration,jdbcType=VARCHAR},
	</if>
	<if test="content != null  ">
		content=#{content,jdbcType=VARCHAR},
	</if>
	<if test="create_time != null  ">
		create_time=#{create_time,jdbcType=TIMESTAMP},
	</if>
	<if test="create_auth_id != null  ">
		create_auth_id=#{create_auth_id,jdbcType=INTEGER},
	</if>
	<if test="state != null  and state != '' ">
		state=#{state,jdbcType=VARCHAR},
	</if>
	</trim> where id=#{id,jdbcType=INTEGER}
</update>

<!-- 逻辑删除，将deleted 改成 1 -->
<update id="delete" parameterType="com.rensu.education.hctms.teach.bean.StuDailyRecord">
	delete 	 from STU_DAILY_RECORD where id = #{id,jdbcType=INTEGER}
</update>
 
<!-- 学生培训日志表列表 -->
<select id="selectOne"  resultMap="BaseResultMap" parameterType="int">
	select <include refid="Base_Column_List" />,
	to_char(create_time, 'yyyy-mm-dd hh24:mi:ss') as create_time_str,
	decode(type_id,1,'日报',2,'周报',3,'月报') as type_id_str,
	decode(state,'N','未阅','Y','已阅') as state_str
	 from STU_DAILY_RECORD where id = #{id,jdbcType=INTEGER}
</select>

<!-- 学生培训日志表序列号 -->
<select id="getSequence"  resultType="int">
	select seq_stu_daily_record_id.nextval from dual
</select>

<!-- 学生培训日志表 列表总数-根据类型bean查询 -->
<select id="selectCount" resultType="java.lang.Integer"  parameterType="com.rensu.education.hctms.teach.bean.StuDailyRecord">
	select count(1) from STU_DAILY_RECORD 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean查询学生培训日志表 -->
<select id="selectList" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.teach.bean.StuDailyRecord">
	select 
	<include refid="Base_Column_List"/>
	from STU_DAILY_RECORD 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean进行分页查询学生培训日志表 -->
<select id="selectPage" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.teach.bean.StuDailyRecord">
	select 
	<include refid="Base_Column_List"/>
	from STU_DAILY_RECORD 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  
 <!-- 根据类型bean查询学生培训日志表 --> 
 <select id="selectDailyRecord" resultType="com.rensu.education.hctms.teach.bean.StuDailyRecord"  parameterType="com.rensu.education.hctms.teach.bean.StuDailyRecord">
	select 
	id,
	duration,
	to_char(create_time, 'yyyy-mm-dd hh24:mi:ss') as create_time_str,
	content, 
	decode(type_id,1,'日报',2,'周报',3,'月报') as type_id_str,
	decode(state,'N','未阅','Y','已阅') as state_str,
	(decode(type_id,1,'日报',2,'周报',3,'月报') || ' ' || duration) as summary
	from STU_DAILY_RECORD
	<if test="searchStr == null or searchStr == ''" >
		where state != 'X'
		<if test="create_auth_id != null ">
			and create_auth_id=#{create_auth_id,jdbcType=INTEGER}
		</if>
		<if test="type_id != null ">
			and type_id=#{type_id,jdbcType=INTEGER}
		</if>
	</if>
	<if test="searchStr != null and searchStr != ''" >
	     where state != 'X' and type_id=#{type_id,jdbcType=VARCHAR} and create_auth_id = #{create_auth_id}
	</if>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	order by create_time desc
</select>	
<!-- 查询待审阅的日志 -->
<select id="selectReviewedDaily" resultType="com.rensu.education.hctms.teach.bean.StuDailyRecord"  parameterType="com.rensu.education.hctms.teach.bean.StuDailyRecord">
  select sdr.id,sdr.create_auth_id,t.user_name as userName,
       decode(sdr.type_id, 1, '日报', 2, '周报', '月报') as type_id_str,
       sdr.content,
       to_char(sdr.create_time, 'yyyy-MM-dd hh24:mi:ss') as create_time_str,
       to_char(sdr.create_time, 'yyyy-MM-dd') as create_time_dateStr,
       (decode(sdr.type_id,1,'日报',2,'周报',3,'月报') || ' ' || sdr.duration) as summary
  from STU_DAILY_RECORD sdr
  left join TRAIN_PLAN tp
    on sdr.create_auth_id = tp.stu_auth_id
  left join (select ua.auth_id, ui.user_name
               from USER_AUTHORITY ua
               left join USER_INFO ui
                 on ua.user_id = ui.user_id
                and ua.state = 'Y'
                and ui.state = 'Y') t
    on sdr.create_auth_id = t.auth_id
   where tp.state = 'Y' 
   <if test="state != null and state != ''" >
      and sdr.state = #{state}
   </if>
   <if test="state != null and state != ''" >
      and tp.teacher_auth_id = #{teacher_auth_id}
   </if>
 order by sdr.create_auth_id, sdr.create_time desc
</select>	
<!-- 根据ID查询培训日志 -->
<select id="selectDailyRecordById" resultType="com.rensu.education.hctms.teach.bean.StuDailyRecord"  parameterType="com.rensu.education.hctms.teach.bean.StuDailyRecord">
	select a.id,a.duration,a.type_id,
	to_char(a.create_time, 'yyyy-mm-dd hh24:mi:ss') as create_time_str,
	a.content, 
	decode(a.type_id,1,'日报',2,'周报',3,'月报')  as type_id_str , c.user_name as userName from STU_DAILY_RECORD a inner join user_authority b on a.create_auth_id=b.auth_id  inner join user_info c on b.user_id=c.user_id
  where a.id=#{id}
</select>	

<update id="updateAllStuDRState" parameterType="com.rensu.education.hctms.teach.bean.StuDailyRecord" >
	update 
		STU_DAILY_RECORD t 
	set 
		t.state='Y' 
	where 
		t.state='N'
		<if test="teacher_auth_id != null ">
			and t.create_auth_id in(select stu_auth_id from TRAIN_PLAN t where t.teacher_auth_id=#{teacher_auth_id,jdbcType=INTEGER})
		</if>
</update>


</mapper>   
