<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="configuration.mapper.StuExercisesMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.rensu.education.hctms.teach.bean.StuExercises" >
	<result column="id" property="id"/>
	<result column="ques_title" property="ques_title"/>
	<result column="ques_num" property="ques_num"/>
	<result column="ques_sco" property="ques_sco"/>
	<result column="create_time" property="create_time"/>
	<result column="create_auth_id" property="create_auth_id"/>
	<result column="state" property="state"/>
	<result column="answer" property="answer"/>
	<result column="time" property="time"/>
	<result column="cstate" property="cstate"/>
</resultMap>
       
<!-- STU_EXERCISES table all fields -->
<sql id="Base_Column_List" >
	 id,ques_title,ques_num,ques_sco,create_time,create_auth_id,state,answer
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	 	<if test="ques_title != null and ques_title != ''" >
	    and ques_title =  #{ques_title}
	</if>
	<if test="ques_num != null" >
	    and ques_num =  #{ques_num}
	</if>
	<if test="ques_sco != null" >
	    and ques_sco =  #{ques_sco}
	</if>
	<if test="create_time != null" >
	    and create_time =  #{create_time}
	</if>
	<if test="create_auth_id != null" >
	    and create_auth_id =  #{create_auth_id}
	</if>
	 	<if test="state != null and state != ''" >
	    and state =  #{state}
	</if>
	<if test="answer != null" >
	    and answer =  #{answer}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.rensu.education.hctms.teach.bean.StuExercises" >
  insert into STU_EXERCISES(id,ques_title,ques_num,ques_sco,create_time,create_auth_id,state,answer)
 values(#{id,jdbcType=INTEGER},#{ques_title,jdbcType=VARCHAR},#{ques_num,jdbcType=INTEGER},#{ques_sco,jdbcType=INTEGER},sysdate,#{create_auth_id,jdbcType=INTEGER},#{state,jdbcType=VARCHAR},#{answer,jdbcType=INTEGER})
</insert>
 
 <!--  -->
<update id="update" parameterType="com.rensu.education.hctms.teach.bean.StuExercises" >
	update STU_EXERCISES set 
	<trim  suffixOverrides="," >
	<if test="ques_title != null  and ques_title != '' ">
		ques_title=#{ques_title,jdbcType=VARCHAR},
	</if>
	<if test="ques_num != null  ">
		ques_num=#{ques_num,jdbcType=INTEGER},
	</if>
	<if test="ques_sco != null  ">
		ques_sco=#{ques_sco,jdbcType=INTEGER},
	</if>
	<if test="create_time != null  ">
		create_time=#{create_time,jdbcType=TIMESTAMP},
	</if>
	<if test="create_auth_id != null  ">
		create_auth_id=#{create_auth_id,jdbcType=INTEGER},
	</if>
	<if test="state != null  and state != '' ">
		state=#{state,jdbcType=VARCHAR},
	</if>
	<if test="answer != null  ">
		answer=#{answer,jdbcType=INTEGER},
	</if>
	</trim> where id=#{id,jdbcType=INTEGER}
</update>

<!-- 逻辑删除，将deleted 改成 1 -->
<update id="delete" parameterType="com.rensu.education.hctms.teach.bean.StuExercises">
	delete 	 from STU_EXERCISES where id = #{id,jdbcType=INTEGER}
</update>
 
<!-- 学生练习列表 -->
<select id="selectOne"  resultMap="BaseResultMap" parameterType="int">
	select <include refid="Base_Column_List" />,to_char(create_time,'yyyy-mm-dd hh24:mi:ss') time 
	 from STU_EXERCISES where id = #{id,jdbcType=INTEGER}
</select>

<!-- 学生练习序列号 -->
<select id="getSequence"  resultType="int">
	select seq_stu_exercises_id.nextval from dual
</select>

<!-- 学生练习 列表总数-根据类型bean查询 -->
<select id="selectCount" resultType="java.lang.Integer"  parameterType="com.rensu.education.hctms.teach.bean.StuExercises">
	select count(1) from STU_EXERCISES 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean查询学生练习 -->
<select id="selectList" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.teach.bean.StuExercises">
	select 
	<include refid="Base_Column_List"/>
	from STU_EXERCISES 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean进行分页查询学生练习 -->
<select id="selectPage" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.teach.bean.StuExercises">
	select 
	<include refid="Base_Column_List"/>,to_char(create_time,'yyyy-mm-dd hh24:mi:ss') time,decode(state,'Y','未完成','E','已完成') cstate
	from STU_EXERCISES 
	<include refid="Example_Where_Clause"/> and state!='X'
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
</mapper>   
