<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="configuration.mapper.TrainTeachOrderMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.rensu.education.hctms.config.bean.TrainTeachOrder" >
	<result column="id" property="id"/>
	<result column="tpc_id" property="tpc_id"/>
	<result column="order_name" property="order_name"/>
	<result column="type_id" property="type_id"/>
	<result column="sup_id" property="sup_id"/>
	<result column="sort_num" property="sort_num"/>
	<result column="order_num" property="order_num"/>
	<result column="order_num_unit" property="order_num_unit"/>
	<result column="state" property="state"/>
	<result column="data_type_id" property="data_type_id"/>
	
</resultMap>
       
<!-- TRAIN_TEACH_ORDER table all fields -->
<sql id="Base_Column_List" >
	 id,tpc_id,order_name,type_id,sup_id,sort_num,order_num,order_num_unit,state,data_type_id
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	<if test="tpc_id != null" >
	    and tpc_id =  #{tpc_id}
	</if>
	 	<if test="order_name != null and order_name != ''" >
	    and order_name =  #{order_name}
	</if>
	<if test="type_id != null" >
	    and type_id =  #{type_id}
	</if>
	<if test="sup_id != null" >
	    and sup_id =  #{sup_id}
	</if>
	<if test="sort_num != null" >
	    and sort_num =  #{sort_num}
	</if>
	<if test="order_num != null" >
	    and order_num =  #{order_num}
	</if>
	 	<if test="order_num_unit != null and order_num_unit != ''" >
	    and order_num_unit =  #{order_num_unit}
	</if>
	 	<if test="state != null and state != ''" >
	    and state =  #{state}
	</if>
	<if test="data_type_id != null" >
	    and data_type_id =  #{data_type_id}
	</if>
	
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.rensu.education.hctms.config.bean.TrainTeachOrder" >
  insert into TRAIN_TEACH_ORDER(id,tpc_id,order_name,type_id,sup_id,sort_num,order_num,order_num_unit,state,data_type_id)
 values(#{id,jdbcType=INTEGER},#{tpc_id,jdbcType=INTEGER},#{order_name,jdbcType=VARCHAR},#{type_id,jdbcType=INTEGER},#{sup_id,jdbcType=INTEGER},#{sort_num,jdbcType=INTEGER},#{order_num,jdbcType=INTEGER},#{order_num_unit,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR},#{data_type_id,jdbcType=INTEGER})
</insert>
 
 <!--  -->
<update id="update" parameterType="com.rensu.education.hctms.config.bean.TrainTeachOrder" >
	update TRAIN_TEACH_ORDER set 
	<trim  suffixOverrides="," >
	<if test="tpc_id != null  ">
		tpc_id=#{tpc_id,jdbcType=INTEGER},
	</if>
	<if test="order_name != null  and order_name != '' ">
		order_name=#{order_name,jdbcType=VARCHAR},
	</if>
	<if test="type_id != null  ">
		type_id=#{type_id,jdbcType=INTEGER},
	</if>
	<if test="sup_id != null  ">
		sup_id=#{sup_id,jdbcType=INTEGER},
	</if>
	<if test="sort_num != null  ">
		sort_num=#{sort_num,jdbcType=INTEGER},
	</if>
	<if test="order_num != null  ">
		order_num=#{order_num,jdbcType=INTEGER},
	</if>
	<if test="order_num_unit != null  and order_num_unit != '' ">
		order_num_unit=#{order_num_unit,jdbcType=VARCHAR},
	</if>
	<if test="state != null  and state != '' ">
		state=#{state,jdbcType=VARCHAR},
	</if>
	<if test="data_type_id != null">
		data_type_id=#{data_type_id,jdbcType=VARCHAR},
	</if>
	</trim> where id=#{id,jdbcType=INTEGER}
</update>

<!-- 逻辑删除，将deleted 改成 1 -->
<update id="delete" parameterType="com.rensu.education.hctms.config.bean.TrainTeachOrder">
	delete 	 from TRAIN_TEACH_ORDER where id = #{id,jdbcType=INTEGER}
</update>
 
<!-- 教学大纲/要求表列表 -->
<select id="selectOne"  resultMap="BaseResultMap" parameterType="int">
	select <include refid="Base_Column_List" /> 
	 from TRAIN_TEACH_ORDER where id = #{id,jdbcType=INTEGER}
</select>

<!-- 教学大纲/要求表序列号 -->
<select id="getSequence"  resultType="int">
	select seq_train_teach_order_id.nextval from dual
</select>

<!-- 教学大纲/要求表 列表总数-根据类型bean查询 -->
<select id="selectCount" resultType="java.lang.Integer"  parameterType="com.rensu.education.hctms.config.bean.TrainTeachOrder">
	select count(1) from TRAIN_TEACH_ORDER 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean查询教学大纲/要求表 -->
<select id="selectList" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.config.bean.TrainTeachOrder">
	select 
	<include refid="Base_Column_List"/>
	from TRAIN_TEACH_ORDER 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean进行分页查询教学大纲/要求表 -->
<select id="selectPage" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.config.bean.TrainTeachOrder">
	select 
	<include refid="Base_Column_List"/>
	from TRAIN_TEACH_ORDER 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<update id="deleteByTpc" parameterType="int">
	delete 	 from TRAIN_TEACH_ORDER where  tpc_id = #{tpc_id,jdbcType=INTEGER}
</update>

<!-- 轮转大纲展示页面的信息 -->
<select id="outlineExhibition" resultMap="BaseResultMap"  parameterType="int">
	select 
	<include refid="Base_Column_List"/>
	from TRAIN_TEACH_ORDER  where tpc_id = #{tpc_id,jdbcType=INTEGER} order by sort_num
</select>

<select id="selectTTOList" resultType="com.rensu.education.hctms.config.bean.TrainTeachOrder"  parameterType="com.rensu.education.hctms.config.bean.TrainTeachOrder">
  select 
       tto.order_name,
       tto.order_num_unit,
       tto.order_num,
       tto.id
  from TRAIN_PLAN tp
  left join TRAIN_TEACH_ORDER tto
    on tp.tpc_id = tto.tpc_id
  where tp.state = 'Y'
   and tto.state = 'Y'
	<if test="dept_id != null and dept_id != ''">
		and tp.train_dept_id=#{dept_id}
	</if>
	<if test="stu_auth_id != null and stu_auth_id != ''">
		and tp.stu_auth_id=#{stu_auth_id}
	</if>
 order by tto.sort_num asc
</select>


<select id="selectTrainTeachOrderList" resultType="com.rensu.education.hctms.config.bean.TrainTeachOrder"  parameterType="com.rensu.education.hctms.teach.bean.TrainPlan">
  select t.*,
  (select b.finnish_num  
    from STU_TEACH_ORDER b 
    where b.stu_auth_id=#{stu_auth_id} and b.dept_id=#{train_dept_id} and t.id=b.tto_id) as finnish_num 
  from TRAIN_TEACH_ORDER t 
  where 1=1
  <if test="tpc_id != null and tpc_id != ''">
      and t.tpc_id=#{tpc_id}
  </if>
</select>



</mapper>   
