<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="configuration.mapper.UserAuthorityMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.rensu.education.hctms.userauth.bean.UserAuthority" >
	<result column="auth_id" property="auth_id"/>
	<result column="user_id" property="user_id"/>
	<result column="role_id" property="role_id"/>
	<result column="orga_id" property="orga_id"/>
	<result column="state" property="state"/>
	<result column="create_time" property="create_time"/>
	<result column="stu_type_id" property="stu_type_id"/>
</resultMap>
       
<!-- USER_AUTHORITY table all fields -->
<sql id="Base_Column_List" >
	 auth_id,user_id,role_id,orga_id,state,create_time,stu_type_id
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="auth_id != null" >
	    and auth_id =  #{auth_id}
	</if>
	<if test="user_id != null" >
	    and user_id =  #{user_id}
	</if>
	<if test="role_id != null" >
	    and role_id =  #{role_id}
	</if>
	<if test="orga_id != null" >
	    and orga_id =  #{orga_id}
	</if>
	 	<if test="state != null and state != ''" >
	    and state =  #{state}
	</if>
	<if test="create_time != null" >
	    and create_time =  #{create_time}
	</if>
	<if test="stu_type_id != null" >
	    and stu_type_id =  #{stu_type_id}
	</if>
	
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.rensu.education.hctms.userauth.bean.UserAuthority" >
  insert into USER_AUTHORITY(auth_id,user_id,role_id,orga_id,state,create_time,stu_type_id)
 values(#{auth_id,jdbcType=INTEGER},#{user_id,jdbcType=INTEGER},#{role_id,jdbcType=INTEGER},#{orga_id,jdbcType=INTEGER},#{state,jdbcType=VARCHAR},#{create_time,jdbcType=TIMESTAMP},#{stu_type_id,jdbcType=INTEGER})
</insert>
 
 <!--  -->
<update id="update" parameterType="com.rensu.education.hctms.userauth.bean.UserAuthority" >
	update USER_AUTHORITY set 
	<trim  suffixOverrides="," >
	<if test="user_id != null  ">
		user_id=#{user_id,jdbcType=INTEGER},
	</if>
	<if test="role_id != null  ">
		role_id=#{role_id,jdbcType=INTEGER},
	</if>
	<if test="orga_id != null  ">
		orga_id=#{orga_id,jdbcType=INTEGER},
	</if>
	<if test="state != null  and state != '' ">
		state=#{state,jdbcType=VARCHAR},
	</if>
	<if test="create_time != null  ">
		create_time=#{create_time,jdbcType=TIMESTAMP},
	</if>
	<if test="stu_type_id != null  ">
		stu_type_id=#{stu_type_id,jdbcType=INTEGER},
	</if>
	</trim> where auth_id=#{auth_id,jdbcType=INTEGER}
</update>

<!-- 逻辑删除，将deleted 改成 1 -->
<update id="delete" parameterType="com.rensu.education.hctms.userauth.bean.UserAuthority">
	delete 	 from USER_AUTHORITY where auth_id = #{auth_id,jdbcType=INTEGER}
</update>
 
<!-- 权限表列表 -->
<select id="selectOne"  resultMap="BaseResultMap" parameterType="int">
	select <include refid="Base_Column_List" /> 
	 from USER_AUTHORITY where auth_id = #{auth_id,jdbcType=INTEGER}
</select>

<!-- 权限表序列号 -->
<select id="getSequence"  resultType="int">
	select seq_user_authority_auth_id.nextval from dual
</select>

<!-- 权限表 列表总数-根据类型bean查询 -->
<select id="selectCount" resultType="java.lang.Integer"  parameterType="com.rensu.education.hctms.userauth.bean.UserAuthority">
	select count(1) from USER_AUTHORITY 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean查询权限表 -->
<select id="selectList" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.userauth.bean.UserAuthority">
	select 
	<include refid="Base_Column_List"/>
	from USER_AUTHORITY 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>
  	
<!-- 根据类型bean进行分页查询权限表 -->
<select id="selectPage" resultMap="BaseResultMap"  parameterType="com.rensu.education.hctms.userauth.bean.UserAuthority">
	select 
	<include refid="Base_Column_List"/>
	from USER_AUTHORITY 
	<include refid="Example_Where_Clause"/>
    <if test="queryCondition != null and queryCondition != ''" >
      ${queryCondition}
    </if>
	<if test="orderCondition != null and orderCondition != ''" >
     order by ${orderCondition}
    </if>
</select>  

<select id="selectTeacherList" resultType="com.rensu.education.hctms.userauth.bean.UserAuthority"  parameterType="com.rensu.education.hctms.userauth.bean.UserAuthority">
	select  a.auth_id as auth_id,i.user_name as name from user_authority  a
	left join user_info i on a.user_id=i.user_id
	where 1=1
	<trim  suffixOverrides="," >
	<if test="orga_id != null" >
	    and a.orga_id =  #{orga_id}
	</if>
		<if test="state != null  and state != '' ">
		 and a.state=#{state,jdbcType=VARCHAR} and i.state=#{state,jdbcType=VARCHAR}
	</if>
	<if test="role_id != null" >
	    and a.role_id =  #{role_id}
	</if>
	</trim>
</select>

<select id="selectOneNameByAuth" resultType="com.rensu.education.hctms.userauth.bean.UserAuthority" parameterType="int">
	select  i.user_name as name from user_authority  a
	left join user_info i on a.user_id=i.user_id
	where  a.auth_id = #{auth_id,jdbcType=INTEGER}
</select>
<select id="selectStuByAuthId" 
		resultType="com.rensu.education.hctms.userauth.bean.UserAuthority" 
		parameterType="com.rensu.education.hctms.userauth.bean.UserAuthority">
	select  a.*,
	i.user_name,
	(select b.type_name from STU_TYPE b where a.stu_type_id=b.id and b.state='Y' and rownum=1) stu_type_name,
	(select b.orga_name from ORGA_INFO b where a.orga_id=b.orga_id and b.state='Y' and rownum=1) orga_name 
	
	 from user_authority a
	left join user_info i on a.user_id=i.user_id
	where 1=1
	and a.state = 'Y'
	and i.state = 'Y'
	<trim  suffixOverrides="," >
	<if test="auth_id != null" >
	    and a.auth_id = #{auth_id,jdbcType=INTEGER}
	</if>
	</trim>
</select>

<!-- 更新强制出科学生的orag_id -->
<update id="updateOrga_id" parameterType="com.rensu.education.hctms.userauth.bean.UserAuthority">
	update USER_AUTHORITY t  set
	orga_id=#{orga_id,jdbcType=INTEGER}
	where 
	t.state = 'Y'
	and auth_id=#{auth_id,jdbcType=INTEGER}

</update>

<select id="selectMessagePeo" resultType="com.rensu.education.hctms.userauth.bean.UserAuthority"  parameterType="com.rensu.education.hctms.userauth.bean.UserAuthority">
select t.auth_id, ui.user_name,ui.user_id from USER_AUTHORITY t 
left join user_info ui on t.user_id=ui.user_id
where 1=1 and t.state='Y' and ui.state='Y'
<if test="role_id != null" >
   and t.role_id= #{role_id,jdbcType=INTEGER}
</if>
<if test="orga_id != null" >
   and t.orga_id= #{orga_id,jdbcType=INTEGER}
</if>
</select>
  		
</mapper>   
