*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
section{
    padding: 15px;
}
.ulList{
    height: 40px;
    margin: 0;
}
.ulList span{
    float: left;
    display: inline-block;
    padding:8px 25px;
    border: 1px solid #505f91;
    color: #505F91;
    background: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}
.ulList span.clicked{
    background: #505F91;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.switchTable{
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.switchTable tr td,.switchTable tr th{
    border: 1px solid #505f91;
    padding: 10px;
}
.switchTable tr th{
    text-align: center;
}
.switchTable tr td:first-child{
    width: 50px;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
}
.switchTable tr td:nth-child(2){
    width: 100px;
    text-align: center;
    padding-top: 5px;
}
.switchTable tr td:nth-child(3){
    text-align: left;
}
.switchTable tr td:nth-child(3){
    text-align: left;
}
.switchTable tr td:nth-child(4){
    width: 250px;
    min-height:54px ;
    text-align: center;
}
.switchTable tr td:nth-child(4) a:first-child{
    margin-right: 10px;
}
.switchTable tr td:nth-child(4) a{
    display: none;
}
#cont{
    margin-top: 0;
    position: relative;
    top: -1px;
}
#cont li{
    display: none;
    list-style: none;
    overflow: auto;
    width:100%;
}
#cont li.show{
    display: block;
}
/*////////////////////////////////*/
.lcs_wrap {
    display: inline-block;
    direction: ltr;
    height: 28px;
    vertical-align: middle;
}
.lcs_wrap input {
    display: none;
}
.lcs_switch {
    display: inline-block;
    position: relative;
    width: 73px;
    height: 28px;
    border-radius: 30px;
    background: #ddd;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: 	all .2s ease-in-out;
    transition: 		all .2s ease-in-out;
}
.lcs_cursor {
    display: inline-block;
    position: absolute;
    top: 3px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
    -webkit-transition: all .2s linear;
    -ms-transition: 	all .2s linear;
    transition: 		all .2s linear;
}
.lcs_label {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    width: 33px;
    top: 5px;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out .1s;
    -ms-transition: 	all .2s ease-in-out .1s;
    transition: 		all .2s ease-in-out .1s;
}
.lcs_label.lcs_label_on {
    left: -70px;
    z-index: 6;
}
.lcs_label.lcs_label_off {
    right: -70px;
    z-index: 5;
}
/* on */
.lcs_switch.lcs_on {
    background: #505f91;
    box-shadow: 0 0 2px #485582 inset;
}
.lcs_switch.lcs_on .lcs_cursor {
    left: 48px;
}
.lcs_switch.lcs_on .lcs_label_on {
    left: 10px;
    opacity: 1;
}
/* off */
.lcs_switch.lcs_off {
    background: #b2b2b2;
    box-shadow: 0px 0px 2px #a4a4a4 inset;
}
.lcs_switch.lcs_off .lcs_cursor {
    left: 3px;
}
.lcs_switch.lcs_off .lcs_label_off {
    right: 10px;
    opacity: 1;
}
/* disabled */
.lcs_switch.lcs_disabled {
    opacity: 0.65;
    filter: alpha(opacity=65);
    cursor: default;
}
